:host {
  width: 100%;
  height: 100%;
}

.magneto-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;

  .title {
    position: absolute;
    top: 0;
    margin: 20px;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }

  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    gap: 10px;

    .control {
      width: 30%;
      font-size: x-large;
      mat-slider {
        width: 100%;
      }
    }

    .horizontal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .heroes {
    display: flex;
    padding: 20px;
    width: 80%;
    height: 50%;

    .hero-list {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      gap: 10px;
      width: fit-content;
      width: 50%;
      height: fit-content;
      padding: 20px;

      &.alive {
        justify-content: end;
      }

      &.dead {
      }
    }

    .hero {
      position: relative;
      overflow: hidden;
      border-radius: 9999px;
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: auto;
      }

      .hero-health {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        font-size: xx-large;
        text-shadow: 0 0 10px rgba(0, 0, 0, 1);
      }

      &.alive {
      }

      &.dead {
      }
    }
  }
}
