<div class="magneto-calculator">
  <h1 class="title">Magneto Meteor Calculator</h1>
  <div class="controls">
    <div class="control">
      <label for="ultimateUptime">
        <span matTooltip="Duration increases damage by 50/s and range by 0.75/s"
          >🛈
        </span>
        Duration: {{ ultimateUptime() }}</label
      >
      <mat-slider class="ultimateUptime" min="0" max="4" step="0.1">
        <input
          matSliderThumb
          [ngModel]="ultimateUptime()"
          (ngModelChange)="ultimateUptime.set($event)"
        />
      </mat-slider>
    </div>
    <div class="control">
      <label for="ultimateAbsorb">
        <span matTooltip="Each point increases damage by 8">🛈 </span>
        Absorbed Damage: {{ ultimateAbsorb() }}</label
      >
      <mat-slider class="ultimateAbsorb" min="0" max="100" step="1">
        <input
          matSliderThumb
          [ngModel]="ultimateAbsorb()"
          (ngModelChange)="ultimateAbsorb.set($event)"
        />
      </mat-slider>
    </div>
    <div class="control horizontal">
      <div class="control">
        <div class="result">
          <span
            matTooltip="The first value is the damage on the farthest point of the explosion. The second the damage at the center. Damage falloff is capped to 50% after 6m."
            >🛈 </span
          >Damage: {{ damageFrom().toFixed(0) + "-" + damage().toFixed(0) }}
        </div>
        <div class="result">Explosion Radius: {{ range().toFixed(1) }}m</div>
      </div>
      <mat-checkbox
        [checked]="useLowestdamage()"
        (change)="useLowestdamage.set($event.checked)"
        >Use lowest damage</mat-checkbox
      >
    </div>
  </div>

  <div class="heroes">
    <ul class="hero-list alive">
      <h1 style="width: 100%; color: rgb(25, 255, 59); text-align: end">
        Alive
      </h1>
      @for (hero of survivingHeroes(); track $index) {
      <li class="hero alive">
        <img
          src="{{ hero.avatar }}"
          alt="{{ hero.name }}"
          class="hero-portrait"
        />
        <div class="hero-health">{{ hero.health }}</div>
      </li>
      }
    </ul>
    <div class="vertical-divider"></div>
    <ul class="hero-list dead">
      <h1 style="width: 100%; color: rgb(255, 65, 65)">Dead</h1>
      @for (hero of deadHeroes(); track $index) {
      <li class="hero dead">
        <img
          src="{{ hero.avatar }}"
          alt="{{ hero.name }}"
          class="hero-portrait"
        />
        <div class="hero-health">{{ hero.health }}</div>
      </li>
      }
    </ul>
  </div>
  <div class="disclaimer">*stats from patch 20250327 (March 27, 2025)</div>
</div>
