// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

:root {
  --background: rgba(49, 51, 78, 255);
  --text: rgb(255, 255, 255);
  --primary: rgb(239, 208, 48);
  --secondary: rgb(255, 255, 255);
  --accent: rgb(239, 208, 48);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Refrigerator Deluxe", sans-serif;
  color: var(--text);
}

.vertical-divider {
  width: 1px;
  height: 100%;
  background-color: var(--text);
}

.horizontal-divider {
  height: 1px;
  width: 100%;
  background-color: var(--text);
}
